@charset "UTF-8";

#upload_btn {
	padding: 10px 15px;
	border-radius: 20px;
	color: #fff;
	background: #ea5455;
	box-shadow: 0 0 4px 2px rgb(0, 0, 0, .2);
	position: fixed;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}