@charset "UTF-8";

@import url("/res/css/module/thumbnail.css");
@import url("/res/css/module/article.css");

.options {
	text-align: center;
}

.filter_list .filter {
	display: inline-block;
	margin-bottom: 10px;
	border: 1px solid;
	border-radius: 20px;
	cursor: pointer;
}

.filter_list .filter a {
	display: block;
	padding: 10px 15px;
}

.filter_list .filter.act {
	color: #fff;
	background: #2d4059;
}

#upload_btn {
	padding: 10px 15px;
	border-radius: 20px;
	color: #fff;
	background: #ea5455;
	box-shadow: 0 0 4px 2px rgb(0, 0, 0, .2);
	position: fixed;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

#modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
}

#modal.hide {
    display: none;
}

#modal_inner {
    background: #fff;
    width: 80vw;
    height: 90vh;
    padding: 30px;
    overflow-y: scroll;
}

#modal_inner::-webkit-scrollbar {
    display: none;
}

#modal_inner > * {
    display: block;
    margin-top: 20px;
}

#modal_inner img {
    max-height: 94%;
    object-fit: contain;
}

.btn_container {
	right: 30px;
	top: 30px;
}