@charset "UTF-8";

#content {
	text-align: center;
}

#content .err-msg {
	margin-bottom: 20px;
	color: red;
}

#content form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 400px;
}

#content form > * {
	padding: 10px;
	margin-bottom: 10px;
}
